rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Fiecare utilizator (inclusiv anonim) are acces doar la propriile profiluri
    match /users/{uid}/profiles/{profileId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
